/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.ms-core-listMenu-verticalBox UL.root > LI > .menu-item{  
  font-weight:500;  
 /* background-color:#054067;  */
 background-color:#f1c27d;
  color:#3c2f2f;  
  border-bottom-color:#f1c27d;  
  border-bottom-style:solid;  
  border-bottom-width:1px;  
  min-height:25px;  
  padding-top:5px;  
  padding-left:10px;  
  font-size:14px;  
  font-family:Roboto !important;  
  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li.static > a:hover {  
   color: #f1c27d !important;  
   background-color:#4b3832 !important;  
   text-decoration:none;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.selected > a {  
    background-image:none;  
    /*background-color:#D95E00;  */
     /*background-color:#ff4e00;  */
    background-color:#4b3832;
    color:#f1c27d !important;  

 }  
 .ms-core-listMenu-verticalBox > ul.root > li > a:hover {  
    background-image:none;  
    background-color:#4b3832;  
    color:#f1c27d !important;  
  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li > a:hover > span > span > img {  
  visibility: hidden;
}  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li > a {  
  font-size:12px;  
  padding-left:10px;  
  font-family:segoe ui !important;  
  color:#4b3832 !important;  
 }  
 .ms-core-listMenu-verticalBox > ul.root > li.static > ul.static > li > a.selected {  
    background:none;  
    color: #ffdbac !important;  
    background-color:#4b3832 !important;  
    text-decoration: none;  
    border: 1px #4b3832 solid;  
    font-weight:bold;  
 }  
 .ms-core-listMenu-verticalBox a.selected  
 {  
  border: 1px #4b3832 solid !important;  
 }  
 .ms-core-listMenu-verticalBox UL.root UL  
 {  
  margin:0px 0px 10px 0px !important;  
 }  
 .imgAlign
 {
  padding-right:5px;
  padding-top:5px;
  padding-bottom:0px;
  height: 7.5px;
 }


 #sideNavBox{
  float: left !important;
  padding-left: 20px !important;
  margin: 0 !important; 
  position: fixed;
  height: 5000px;
  top: 84px;
  background-color: #f1c27d;
  z-index: 1;
  height: calc(100vh - 40px);
  overflow-y: scroll;
 }

 #sideNavBox::-webkit-scrollbar-track
 {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
    width: 7px;
 }
 
 #sideNavBox::-webkit-scrollbar
 {
   width: 7px;
 	 background-color: #F5F5F5;
 }
 
 #sideNavBox::-webkit-scrollbar-thumb
 {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  background-color: #555;
  width: 7px;
 }

 

 .ms-core-listMenu-verticalBox > ul.root > li.selected > a > span > span > img
 {
  filter: opacity(0.5) drop-shadow(0 0 0 #f3b14f);
  visibility: hidden;
 }


 .ms-core-listMenu-verticalBox > ul.root > li.selected > a > span > span > img
 {
  filter: opacity(0.5) drop-shadow(0 0 0 #f3b14f);
  visibility: hidden;
 }



