/* cyrillic-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}



.ms-TextField .ms-Label {
  font-size: 14px;
  font-weight: 450;
  font-family: roboto;
}


.ms-TextField-field{
  border-radius: 6px !important;
  border-color:#212121 !important;
  font-family: roboto !important;
}

.ms-TextField-field[type="text"]:disabled {
  background: #0606060d;
  color: #212121;
}

.ms-TextField-field::placeholder{
  color: #212121;
}

.ms-helperText{
  color: #212121 !important;
  padding: 4px;
}


.ms-core-pageTitle, .ms-core-pageTitle a {
  font-family: roboto;
  color: #212121;
}


hr.style1 {
  border-top: 3px solid;
  color: #4b3832 !important;
}

h2.style {
  font-weight: bold;
  color: #4b3832 !important;
}

.ms-TextField-field {
  border-radius: 6px !important;
}

.ms-TextField--textFieldUnderlined   {
  border-radius: 6px !important;
  border-color:#212121 !important;
  font-family: roboto !important;
  max-width: 91%;
  min-width: 180px;
  min-height: 25px;
}

.ms-rtestate-field h2{
  line-height: 1.4;
  color:  #4b3832  !important;
  font-weight: normal !important;
}


.ms-RadioButton-field.is-checked:before {
  border: 2px solid #d75404 !important;
  background-color: transparent !important;
}

.ms-RadioButton-field.is-checked:after {
  background-color: #d75404 !important ;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
}

.sp-peoplepicker-delImage{
  display:none
}



.tooltip {
  position: relative;

}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

a.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 20px;
    left: 5px;
  width: 0;
}
a.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 26px;
    white-space: nowrap;
  z-index: 0;
}


span.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 39px;
    left: 5px;
  width: 0;
}
span.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 45px;
  white-space: pre-line;
  z-index: 0;
}


div.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 39px;
    left: 5px;
  width: 0;
}
div.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 45px;
  white-space: pre-line;
  z-index: 1;
}



img.tooltip:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 39px;
    left: 5px;
  width: 0;
}
img.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 45px;
  white-space: pre-line;
}


/*textarea*/

.tooltiparea {
  position: relative;

}
.tooltiparea:before,
.tooltiparea:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
div.tooltiparea:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 39px;
    right: 181px;
  width: 0;
}
div.tooltiparea:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 45px;
  white-space: pre-line;
  z-index: 0;
}

tooltiparea.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltiparea.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltiparea.expand:hover:before,
.tooltiparea.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltiparea.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/*tooltip right*/
.tooltiparealeft {
  position: relative;

}
.tooltiparealeft:before,
.tooltiparealeft:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
div.tooltiparealeft:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 39px;
    right: 75px;
  width: 0;
}
div.tooltiparealeft:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
    top: 45px;
  left: 75px;
  white-space: normal;
  z-index: 0;
}

tooltiparealeft.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltiparealeft.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltiparealeft.expand:hover:before,
.tooltiparealeft.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltiparealeft.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/* the animations */

/* fade */
.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

/* expand */
.tooltip.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltip.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltip.expand:hover:before,
.tooltip.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltip.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}


/*button*/
.tooltipbutton {
  position: relative;
  float:right;
}
.tooltipbutton:before,
.tooltipbutton:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

a.tooltipbutton:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 36px;
    left: 10px;
  width: 0;
}
a.tooltipbutton:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 42px;
  white-space: nowrap;
  z-index: 0;
}
.tooltipbutton.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltipbutton.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltipbutton.expand:hover:before,
.tooltipbutton.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltipbutton.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

/*button left*/
.tooltipbuttonleft.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltipbuttonleft.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltipbuttonleft.expand:hover:before,
.tooltipbuttonleft.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltipbuttonleft.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

.tooltipbuttonleft {
  position: relative;
  float:right;
}
.tooltipbuttonleft:before,
.tooltipbuttonleft:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

a.tooltipbuttonleft:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 36px;
    left: 10px;
  width: 0;
}
a.tooltipbuttonleft:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 42px;
  left: -86px;
  white-space: pre-line;
  
  z-index: 0;
}


/*input*/
.tooltipinput.expand:before {
  transform: scale3d(.2,.2,1);
  transition: all .2s ease-in-out;
}
.tooltipinput.expand:after {
  transform: translate3d(0,6px,0);
  transition: all .1s ease-in-out;
}
.tooltipinput.expand:hover:before,
.tooltipinput.expand:hover:after {
  opacity: 1;
  transform: scale3d(1,1,1);
}
.tooltipinput.expand:hover:after {
  transition: all .2s .1s ease-in-out;
}

.tooltipinput {
  position: relative;
}
.tooltipinput:before,
.tooltipinput:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

div.tooltipinput:after {
	border-right: 6px solid transparent;
	border-bottom: 6px solid rgba(0,0,0,.75); 
  border-left: 6px solid transparent;
  content: '';
  height: 0;
    top: 60px;
    left: 5px;
  width: 0;
}
div.tooltipinput:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 14px;
  padding: 6px 10px;
  top: 66px;
  white-space: pre-line;
  z-index: 8;
}




/* swing */
.tooltip.swing:before,
.tooltip.swing:after {
  transform: translate3d(0,30px,0) rotate3d(0,0,1,60deg);
  transform-origin: 0 0;
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:after {
  transform: translate3d(0,60px,0);
  transition: transform .15s ease-in-out, opacity .2s;
}
.tooltip.swing:hover:before,
.tooltip.swing:hover:after {
  opacity: 1;
  transform: translate3d(0,0,0) rotate3d(1,1,1,0deg);
}

.input{
  margin-left:135px
}

.ms-Persona-primaryText{
  white-space: inherit !important;
}


/* #CommentDiv::-webkit-scrollbar-track
{
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
	background-color: #ffffff;
}

#CommentDiv::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

#CommentDiv::-webkit-scrollbar-thumb
{
	background-color: #c1c1c1;
}
 */