/* cyrillic-ext */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu72xKOzY.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
  }
  /* cyrillic */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu5mxKOzY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
  }
  /* greek-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7mxKOzY.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
  }
  /* greek */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4WxKOzY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
  }
  /* vietnamese */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7WxKOzY.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
  }
  /* latin-ext */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }
  
#mainDiv{
    position: relative;
    background-color: #f1c27d;
    height: 100%;
}  

.container {
    width: 100% !important;
    height: 100%;
}
.lower-banner {
    display: block !important;
    height: 40%;
    width: 14.285714%;
    transition-duration: 0.55s; 
}

.lower-banner:hover {
  filter: brightness(150%);
  transition-duration: 0.55s;
  transform: scale(1.02, 1.02);
}

.upper-banner {
    height: 60%;
    width: 100% !important;
}

a {
    text-decoration: none !important;
}

img {
    margin: 0px;
}

body, html {
    height: 100%;
}

h1#pageContentTitle {
  height: 0px;
}

div#contentBox{
  padding: 0px;
}

div.contentwrapper{
  margin: 0px;
}

div.ms-wikicontent.ms-rtestate-field{
  padding-right: 0px !important;
}

#ms-belltown-table {
    padding-bottom: 0px;
}

div.ms-rte-layoutszone-inner-editable {
  padding:0px;
}

div.ms-rte-layoutszone-inner-editable ms-rtestate-write {
  padding: 0px;
}

#contentBox {
    margin-right: 0 !important;
    margin-left: 0% !important;
}

div#sideNavBox{
    display: none;
}

div#contentRow{    
    padding-top: 0px !important;
}


    body {
        background-color: white !important;
    }

    .wrap {
        background-color: white;
        width: 100% !important;
        align-items: space-around !important;
        text-align: center;
        justify-content: space-around !important;
        display: flex !important;
    }

    .header {
        /*background-color: #FC7019 !important;*/
        background-color: #F1C27D !important;
    }

    .header img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }

    .tile {
        width: 25%;
        /*height: 230px;*/
        height: 306px;
        margin: 3px;
        background-color: white;
        display: inline-block;
        background-size: cover;
        position: relative;
        cursor: pointer;
        transition: all 0.4s ease-out;
        box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.44);
        overflow: hidden;
        color: white;
        font-family: 'Roboto';
        text-align: justify;
        transform: scale(1.01345); 

    }

    .tile img {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        transition: all 0.4s ease-out;
    }

    .tile .text {
        /*   z-index:99; */
        position: absolute;
        padding: 30px;
        height: calc(100% - 60px);
    }

    
    .tile h1 {

        font-weight: 300;
        margin: 0;
        text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
        color: white !important;
    }

    .tile h2 {
        font-weight: 100;
        margin: 20px 0 0 0;
        font-style: italic;
        transform: translateX(200px);
        color: white !important;
    }

    .tile p {
        font-weight: 300;
        margin: 20px 0 0 0;
        line-height: 25px;
        /*   opacity:0; */
        transform: translateX(-200px);
        transition-delay: 0.2s;
    }

    .animate-text {
        opacity: 0;
        transition: all 0.6s ease-in-out;
    }

    .tile:hover {
        /*   background-color:#99aeff; */
        box-shadow: 0px 35px 77px -17px rgba(0, 0, 0, 0.64);
       /* transform: scale(1.05); */
    }



    .tile:hover img {
        opacity: 0.2;
    }

    .tile:hover h1{
        color:black !important; 
    }
    .tile:hover .animate-text {
        transform: translateX(0);
        opacity: 1;
        color:black !important;
    }

    .dots {
        position: absolute;
        bottom: 20px;
        right: 30px;
        margin: 0 auto;
        width: 30px;
        height: 30px;
        color: currentColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

    }

    .dots span {
        width: 5px;
        height: 5px;
        background-color: currentColor;
        border-radius: 50%;
        display: block;
        opacity: 0;
        transition: transform 0.4s ease-out, opacity 0.5s ease;
        transform: translateY(30px);

    }

    .tile:hover span {
        opacity: 1;
        transform: translateY(0px);
    }

    .dots span:nth-child(1) {
        transition-delay: 0.05s;
    }

    .dots span:nth-child(2) {
        transition-delay: 0.1s;
    }

    .dots span:nth-child(3) {
        transition-delay: 0.15s;
    }


    @media (max-width: 1000px) {
        .wrap {
            flex-direction: column;
            width: 400px;
        }
    }


    #s4-bodyContainer {
         padding-bottom: 0 !important;
    }
    
    #s4-titlerow{
        display: none !important;
    }

   /* #s4-ribbonrow{
        display: none !important;
    } */

    #div_59eec1ae-2c6d-4b47-a143-c78e75b8d8f0{
        display:none !important;
    } 

    #div_4896e07f-2fef-403c-aa3b-3f82a40f7924{
        display:none !important;
    }

    .pageTitle {
        position: absolute;
        top: 60px;
        left: 300px;
        font-family: roboto;
        font-size: 20px;
    }

    .pageTitle2 {
        position: absolute;
        top: 20%;
        left: 90%;
        font-family: roboto;
        font-size: 2vw;
        color: #3c2f2f;
    }

    .pageDescription {
        position: absolute;
        height: 400px;
        width: 400px;
        top: 45%;
        left: 82%;
        transform: translate(-50%, -20%);
        font-family: roboto;
        font-size: 1.1vw;
        color: #3c2f2f;
        text-align: right;
    }

    