#WebPartWPQ2_ChromeTitle{
  display: none;
}

.progressContainer{
  padding-left: 15px;
  padding-right: 15px;
}
.progressbar {
  margin: 0;
  padding: 0;
  /*  */
  counter-reset: step;
}

.progressbar li {
  list-style-type: none;
  width: 6.66%;
  float: left;
  font-size: 9px;
  position: relative;
  text-align: center;
  /*text-transform: uppercase;*/
  color: #3c2f2f;
  font-weight: 600;
}

.progressbar li span {
  opacity: 0;  
  transition: opacity 0.1s;
  position: absolute;
  width: 70px;
  left: -11px;
}

.progressbar li:hover span{
  opacity: 1;  
  transition: opacity 0.1s;
}


.progressbar li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 29px;
  border: 2px solid #854442c7;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}


.progressbar li:after {
  width: 100%;
  height: 2px;
  content: '';
  position: absolute;
  background-color: #3c2f2f;
  top: 15px;
  left: -50%;
  z-index: -1;
}

.progressbar li:first-child:after {
  content: none;
}

.progressbar li.active {
  color: #854442;
}
.progressbar li.active span{
  opacity: 1;  
  
}

.progressbar li.active:before {
  border-color: #854442;
  background-color: #854442;
}


.progressbar li.active+li:after {
  background-color: #854442
}


.progressbar li.inactive {
  color: #854442;
}
.progressbar li.inactive span{
  transition: opacity 0.1s;
  opacity: 0; 
  color: #3c2f2f; 
  
}

.progressbar li.inactive:before {
  border-color: #854442;
  background-color: #854442;
}


.progressbar li.inactive+li:after {
  background-color: #854442
}


.progressbar li.inactive:hover span{
  opacity: 1;  
  transition: opacity 0.1s;
}
