/* The MIT License (MIT)

Copyright (c) 2016, Lumen Novus Incorporated d/b/a SharePoint Experience
http://sharepointexperience.com/

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE. */


/* CSS for creating a responsive design for Seattle.master in SharePoint 2013 and SharePoint Online. 
For more details see the related blog post at http://blog.sharepointexperience.com/2015/03/making-seattle-master-responsive
*/


/* Font Awesome is a free font. http://fontawesome.io  
Check for latest version at http://fontawesome.io/get-started 
This should be moved to the top of your CSS file, irregardless of media queries */
@import "https://netdna.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.css";


@media screen and (max-width: 1044px) {
	/* Hide unnecessary page elements */
	.ms-core-listMenu-horizontalBox .ms-listMenu-editLink  /* Global navigation "Edit Links" when managed navigation is in use */ {
		display: none;
	}

	/* Undo the crazy that SharePoint creates with table display set to DIVs*/
	#s4-titlerow .ms-table,
	#s4-titlerow .ms-tableRow,
	#s4-titlerow .ms-tableCell {
		display: block;
	}

	/* Site logo wrapper */	
	#siteIcon {
		float: none;  /* Remove OOTB float - this allows title row elements to return to typical block elements along with the table display changes above */
		text-align: left;  /* Alter OOTB alignment */
	}

	/* Page title text */
	#pageTitle {
		position: absolute;  /* Remove from content flow and create precise placement based on parent container */
		top: 30px;  /* Position from top */
		left: 220px;   /* Positioning from left */
	}
  
  	/* Top nav bar size */
	.ms-breadcrumb-box {
		height: 30px;   /* Alter OOTB height */
	}

	/* Top nav bar placement & formatting */
	.ms-breadcrumb-top > .ms-core-navigation {
		display: block;  /* Force respect of some declarations */
		margin-top: 20px;  /* Create space between the site logo/title and nav bar */
	}
  
  	/* Search placement */
	.ms-mpSearchBox.ms-floatRight,
	#searchInputBox  {
		float: none;  /* Remove OOTB float - this allows the search to move to the left under the top nav bar */
	} 
  
  	/* Adjust padding for content containers */
	#s4-bodyContainer {
		padding-bottom: 60px;  /* Alter OOTB padding */
	}
  	#contentRow {
		padding-top: 80px;  /* Alter OOTB padding */
	}
}


@media screen and (max-width: 926px) {

/* --- Enterprise Wiki --- */
	/* Content area wrapper, parent of col-fluid-1 and col-fluid-2 */
	#contentBox {
		min-width: inherit;   /* Reset OOTB min-width from fixed value to inherit which will take up the available space */
	}

	/* Alter right column on Enterprise Wiki default page */
	.right-wp-zone-col {
		float: none;  /* Remove OOTB float */
	}

	/* Sub content area wrappers, sibling to right-wp-zone-col */
	.col-fluid-1,
	.col-fluid-2 {
		margin-right: 10px;  /* Alter OOTB margin */
	}

	
/* --- Blog --- */
	/* Reset min-widths on content containers */
	#contentBox,
	.ms-blog-MainArea {
		min-width: inherit;   /* Reset OOTB min-width from fixed value to inherit which will take up the available space */
	}

	/* Table conversions so table cells will wrap */
	.ms-blog-MainArea {
		display: block;  /* Switch from a table display to a block level display, which forces other elements to be above or below */
	}
	.ms-blog-MainArea td:first-child, 
	.ms-blog-LeftColumn {
		display: inline-block;  /* Switch from a table cell display to an inline block level display, which allows other elements to be to the right or left */
		width: auto;
	}


/* --- Team Site --- */
	/* Reset min-widths on content container */
	#contentBox {
		min-width: inherit;   /* Reset OOTB min-width from fixed value to inherit which will take up the available space */
	}

	/* Table conversions so table cells will wrap */
	#layoutsTable {
		display: block;  /* Switch from a table display to a block level display, which forces other elements to be above or below */
	}
	#layoutsTable td {
		display: inline-block;   /* Switch from a table cell display to an inline block level display, which allows other elements to be to the right or left */
		width: auto;
	}

	/* Right side table cell */
	.ms-wiki-columnSpacing {
		padding-left: 0;  /* Alter OOTB padding */
	}
}



@media screen and (max-width: 360px) {
	/* Hide right side of Suite Bar links */
	.ms-core-deltaSuiteLinks {
		display: none;
	}
}
